body{
	background:black;
	color:white;
}
#db{
	background:blue;
	color:red;
	cursor:pointer;

}

	.first
	{
		/*border: 1px solid blue;*/
		
		height: 500px;
		width: 500px;
		float: left;
	}

	.second
	{
		/*border:  1px solid green;*/
		height: 300;
		width: 400;
		float: left;
		position:fixed;
		margin-left:170px;
	}
	.third
	{
		/*border:  1px solid red;*/
		height: 300;
		width: 420;
		float:right;
		position:static;
			
	}
	#tbl {
    border: 1px solid black;
}

#tbl {
    border-collapse: collapse;
    width: 100%;
}

.td {
    height: 50px;
    vertical-align: bottom;
}