body{
	background:lightgreen;
	color:white;
	font-style:italic;
}
#db{
	background:blue;
	color:red;
	cursor:pointer;

}

	.first
	{
		/*border: 1px solid blue;*/
		
		height: 500px;
		width: 500px;
		float: left;
			position:fixed;
	}

	.second
	{
		/*border:  1px solid green;*/
		height: 300;
		width: 400;
		float: left;
		position:absolute;
		margin-left:170px;
	}
	.third
	{
		/*border:  1px solid red;*/
		height: 300;
		width: 420;
		margin-left:550px;
		position:absolute;
			
	}
	
input
{
	border-right: 5px solid white;
	outline: none;
	border-bottom: 5px solid #ffa726;
	border-left: 5px solid white;
	border-top: none; 
	width: 180px;
	height: 20px;
}
button
{
	float: right;
	margin-top: 30px;
	margin-right: 40px;
	width:140px;
	height: 50px;
	border-radius:40%; 
	background-color: #e0f7fa;
	border:none;
	font-size: 20px;
	font-family: lucida calligraphy ;
	outline: none;

}

.tbl, .th, .td {
    border: 1px solid black;
    font-family: Brush Script MT;
    	font-size: 30px;
}