body{
	background:lightgreen;
	color:white;
	font-style:italic;
}
#db{
	background:blue;
	color:red;
	cursor:pointer;

}

	.first
	{
		/*border: 1px solid blue;*/
		
		height: 500px;
		width: 500px;
		float: left;
			position:fixed;
	}

	.second
	{
		/*border:  1px solid green;*/
		height: 300;
		width: 400;
		float: left;
		position:fixed;
		margin-left:170px;
	}
	.third
	{
		/*border:  1px solid red;*/
		height: 300;
		width: 420;
		float:right;
		position:static;
			
	}
	input[type='submit']
{
	width: 110px;
	height: 40px;
	border: 2px solid white;
	background-color:#CCC;
}
input[type='submit']:hover
{
	width: 110px;
	height: 40px;
	border: 2px solid white;
	background-color:#000000;
	color:#fff;
}
